@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: black;
    color: white;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

/* HEADER */

header article {
    height: 10vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.header-article-div h2 {
    font-size: 1.2rem;
    /* font-family: cursive; */
    text-shadow: 4px 4px 7px rgb(0 0 0 / 92%);
    margin-bottom: 0;
}

header #article-stats, #article, #article-home{
    height: 50px;
    background-color:#d90368;
}

header #article-detail{
    /* background-image: linear-gradient(to bottom, #26a14d, #1f843e, #176930, #104f23, #093616); */
    height: 60px;
    background-color:#d90368;
}

/* FOOTER */

footer{
    /* height: 50px; */
    padding: 0 20px;
}

footer div a .fa-brands{
    margin-right: 5px;
}

footer div {
    font-size: 1.2rem;
}



/* CAMBIOS */

/* KRRUSEL */
.carousel-caption, .carousel-item, .carousel-caption p, h3, .carousel-indicators, .carousel-control-next-icon, .carousel-control-prev-icon  {
    background-color: transparent;
}

.carousel-control-next-icon:hover, .carousel-control-prev-icon:hover {
    color: rgba(0, 0, 0, 0.54);
}

.carousel-item--one, .carousel-item--two, .carousel-item--three {
    background-image: url(../img/orquestra.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    background-position-x: center;
}

.carousel-item--one {
    background-image: url(../img/orquestra.jpeg);
    background-position-y: 72%;
}

.carousel-item--two {
    background-image: url(../img/circo.jpeg);
    background-position-y: 61%;
}

.carousel-item--three {
    background-image: url(../img/festival.avif);
    background-position-y: 72%;
}

/* BOTON LUPA */

.btn.btn-outline-secondary {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.bi.bi-search {
    background-color: transparent;
}


/* HEADER */
header nav div .collapse ul li a {
    background-color: #d90368;
    border-color: #d90368;
    color: #fff;
}

.nav-logo.container {
    width: 70%;
}

.navbar-brand img {
    width: 100%;
}

.navbar-toggler-icon {
    background-color: #d90368c9;
    border-radius: 2px;
}


body header nav #navbarSupportedContent{
    justify-content: end;
}
/* MAIN INDEX */

.main-div {
    justify-content: space-around;
    flex-wrap: wrap;
}
main div #container-check {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
}



/* CARDS */

.card.bg-light:hover {
    box-shadow: 0px 0px 12px 3px #279f4d;
    border-color: #279f4d;
}

.card.bg-light {
    border-radius: 0px;
}

.rounded.p-3 {
    border-radius: 0%!important;
}

.rounded.p-3 img {
    border-radius: 5px;
}

.card-link.btn.btn-primary {
    background-color: #279f4d;
    border-color: #279f4d;
}


/* CARD DETAIL*/

main #main-detail {
    height: 100vh;
    background-color: #30343f;
}

#container-detail {
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 4px solid #279f4d;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #000;
    margin: 50px 0;
    box-shadow: 0px 0px 7px 2px #279f4d;
}

.container-box {
    width: 100%;
}

.image img {
    width: 100%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    /* margin: 0 0 15px 0; */
}

.div-card-body h3, .div-card-body h3 ul li  {
    font-size: 1.4rem;
    text-align: justify;
}





/* FOOTER */

footer {
    justify-content: space-around;
}

footer div p, footer div a i {
    color:#d90368;
}

/* footer div a i{
     font-size: 2rem;
     margin-right: 10px; 
} */


/* CONTACT HTML INPUT & BOTON SUBMIT */

.main-contact-html {
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.main-contact-html form {
    width: 20%;
    padding: 20px 0;
}

.mb-3.mb-3--input {
    width: 80%;
}


.mb-3.mb-3--input input {
    background-color: transparent;
    border: 1px solid #fff;
    color: rgb(39, 159, 77);
    font-size: 1.2rem;
}

.main-contact-html form div .form-textarea{
    color: #279f4d;
    border-radius: .375rem;
}

.btn-submit-contact button {
    background-color:  #d90368;
    color: #fff;
}

/* TABLE - Stats */

main div table .main-div-table-tr {
    font-size: 1.2rem;
}

main div table .main-div-table-tr-td {
    font-size: 1rem;
}


/* MEDIA QUERY */

@media (min-width: 777px) {
    header #article-detail {
        height: 60px;
    }

    .header-article-div h2 {
        font-size: 1.8rem;
    }

    #container-detail .container-box:first-child {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #container-detail {
        transition: transform 0.8s;
        max-width: 1100px;
    }

    #container-detail:hover {
        transform: scale(1.05);
    }

    .container-box img, .div-card-body {
        width: 50%;
    }

    .container-box img {
        margin-right: 15px;
    }

    .div-card-body {
        display: flex;
        flex-direction: column;
    }

    footer div {
        font-size: 1.8rem;
    }
}
